<%- include("header") -%>

<div class="row">
  <div class="col">
    <h1>Welcome back, <span class="crypto"> <%= accountName %> </span>!</h1>
    <br>
    <h2>Currently on: <span class="crypto"> <%= fullCurrCurrencyName %> </span> wallet</h2>
    <br>
    <button type="button" class="btn btn-outline-primary btn-lg"><i class="fab fa-bitcoin"></i> Change wallet</button>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col">
    <h1>Your balance:</h1>
    <h2><span class="crypto-balance crypto"> <%= walletBalance %> </span> <span class="crypto-name"> <%= currentCurrency %> </span></h2>
    <br>
    <h3 class="forex"><%= balanceUSD %> USD | <%= balanceEUR %> EUR</h3>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col-sm-4">
    <img src="<%= qrcode %>" alt="" style="width:250px; height:250px;">
  </div>
  <div class="col-sm-8">
    <h2>Your Address:</h2>
    <br>
    <h3 class="crypto-address crypto"> <%= publicAddress %> </h3>
    <br>
    <a type="button" class="btn btn-outline-primary btn-lg" href="/send"><i class="fas fa-paper-plane"></i> Send</a>
    <a type="button" class="btn btn-outline-primary btn-lg" href="/exchange"><i class="fas fa-exchange-alt"></i> Exchange</a>
  </div>
</div>

<br>
<hr>
<br>


<div class="row">
  <div class="col">
    <h2>Transactions History</h2>

    <br>
    <br>

    
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Transaction ID</th>
        <th scope="col">Request ID</th>
        <th scope="col">Address</th>
        <th scope="col">Amount</th>
        <th scope="col">Service Fee</th>
        <th scope="col">Status</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
  </div>


</div>

<%- include("footer") -%>
