<%- include("header") -%>

<div class="row">
  <div class="col">
    <h1>Send <span class="crypto">Crypto</span></h1>
    <br>
    <div class="warning-box">
      <h2 class="warning">Warning!</h2>
      <p>Withdrawals are <b>irreversible</b>! Please make sure that you are using the <b>correct reciever's address</b>!</p>
    </div>

  </div>
</div>

<br>
<hr>
<br>

<form action="/send" class="send-form" method="POST">
  <div class="row">
    <div class="col-sm-4">
      <h3>Recipient</h3>
    </div>
    <div class="col-sm-6">
      <input class="form-control" type="text" name="recipientAddress" value="<%= recipientAddress %>" autocomplete="off" placeholder="Enter recipient's address" autocomplete="off">
    </div>
  </div>
  <br>
  <!-- <form action="/send_calc" class="send_calc-form" method="POST"> -->
  <div class="row">
    <div class="col-sm-4">
      <h3>Calculator</h3>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="sendUSDamount" value="<%= sendUSDamount %>" placeholder="Enter amount in USD" autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" name="Calculate" value="Clicked" type="submit">Calculate</button>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
  <br>
  <!-- <form action="/send_max" class="send_max-form" method="POST"> -->
  <div class="row">
    <div class="col-sm-4">
      <h3>Amount</h3>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="sendCryptoAmount" value="<%= sendCryptoAmount %>" placeholder="Enter amount in <%= currentCurrency %>" autocomplete="off" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" name="Maximum" value="Clicked" type="submit">Maximum</button>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4" style="margin-right: 20px;">
      <h3>Options</h3>
    </div>

    <div class="col-sm-4" style="text-align: left">
      <input name="feeFromAmount" type="checkbox" class="form-check-input big-checkbox" id="subtract">
      <label style="margin-left: 10px;" class="form-check-label" for="subtract">Subtract fees from amount</label>
      <button style="border-radius: 25px; padding: 2px;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="The recipient will be credited with the amount that is smaller by the size of the fee">
        Info
      </button>
      <br>
      <br>
      <input name="dontUseInternal" type="checkbox" class="form-check-input big-checkbox" id="internal">
      <label style="margin-left: 10px;" class="form-check-label" for="internal">Dont use internal transfer</label>
      <button style="border-radius: 25px; padding: 2px;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Internal transfers are faster and with reduced fee. External transfers involve blockchain and increased fees">
        Info
      </button>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <!-- <form action="/send" class="send-form" method="POST"> -->
  <div class="row">
    <div class="col-sm-6">
      <h3>Available for spending: <span class="crypto"> <%= walletBalance %> </span> <%= currentCurrency %> </h3>
    </div>
    <div class="col-sm-6">
      <%if (walletBalance) {%>
        <button class="btn btn-outline-primary btn-lg" name="Send" value="Clicked" style="width: 10rem" type="submit">Send</button>
      <%} else {%>
        <button class="btn btn-outline-primary btn-lg" name="Send" value="Clicked" style="width: 10rem" type="submit" disabled>Send</button>
      <%}%>
    </div>
  </div>
  <!-- </form> -->
</form>

<%- include("footer") -%>
